<flat-profile>

<Connection_Type group="System/Internet_Connection_Type_">DHCP</Connection_Type>
<HostName group="System/Optional_Network_Configuration">Phone<%= user_id %></HostName>
<Enable_VLAN group="System/VLAN_Settings">Yes</Enable_VLAN>
<Enable_CDP group="System/VLAN_Settings">Yes</Enable_CDP>
<VLAN_ID group="System/VLAN_Settings">1</VLAN_ID>
<Time_Zone group="Regional/Miscellaneous">GMT<%= Time.now.strftime("%z").insert(3, ":") %></Time_Zone>
<Daylight_Saving_Time_Enable group="Regional/Miscellaneous">No</Daylight_Saving_Time_Enable>
<Primary_NTP_Server group="System/Optional_Network_Configuration">192.168.0.1</Primary_NTP_Server>
<Station_Name group="Phone/General"><%= user_name %></Station_Name>
<Admin_Passwd group="System/System_Configuration"/>
<User_Password group="System/System_Configuration"/>

<Text_Logo group="Phone/General">CompanyName</Text_Logo>
<Select_Logo group="Phone/General">Text Logo</Select_Logo>
<Select_Background_Picture group="Phone/General">Text Logo</Select_Background_Picture>

<Proxy_1_ group="Ext_1/Proxy_and_Registration">192.168.0.1</Proxy_1_>
<Use_Outbound_Proxy_1_ group="Ext_1/Proxy_and_Registration">Yes</Use_Outbound_Proxy_1_>
<Outbound_Proxy_1_ group="Ext_1/Proxy_and_Registration">192.168.0.1</Outbound_Proxy_1_>
<Use_OB_Proxy_In_Dialog_1_ group="Ext_1/Proxy_and_Registration">Yes</Use_OB_Proxy_In_Dialog_1_>
<Display_Name_1_ group="Ext_1/Subscriber_Information"><%= user_name %></Display_Name_1_>
<User_ID_1_ group="Ext_1/Subscriber_Information"><%= user_id %></User_ID_1_>
<Password_1_ group="Ext_1/Subscriber_Information"><%= user_passwd %></Password_1_>
<Use_Auth_ID_1_ group="Ext_1/Subscriber_Information">No</Use_Auth_ID_1_>

<% if nat != "no" %>
<Handle_VIA_received group="SIP/NAT_Support_Parameters">Yes</Handle_VIA_received>
<Handle_VIA_rport group="SIP/NAT_Support_Parameters">Yes</Handle_VIA_rport>
<Insert_VIA_received group="SIP/NAT_Support_Parameters">Yes</Insert_VIA_received>
<Insert_VIA_rport group="SIP/NAT_Support_Parameters">Yes</Insert_VIA_rport>
<Substitute_VIA_Addr group="SIP/NAT_Support_Parameters">Yes</Substitute_VIA_Addr>
<Send_Resp_To_Src_Port group="SIP/NAT_Support_Parameters">Yes</Send_Resp_To_Src_Port>
<% end %>

<Dial_Plan_1_ group="Ext_1/Dial_Plan">(*xx|[3469]11|0|00|10xx|[2-9]xxxxxx|1xxx[2-9]xxxxxxS0|xxxxxxxxxxxx.)</Dial_Plan_1_>
</flat-profile>